*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#wrapper{
    
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
}

.container{
    
    height:32.2rem;
    margin-top: 10px;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:20px;
    background-color:#F6E6CB;
}

.navcontent{
    width:20rem;
    display: flex;
    justify-content: space-evenly;

}
.heading{
    margin-left: 20px;
}
.navcontent a{
    text-decoration: none;
    color:black;
    font-size:1.3rem;
    font-weight: 500;
    margin-right: 20px;
}

.main{
    margin: 10px;
    height:28rem;
    display: flex;
    justify-content: space-between;
}
.content{
width:46rem;

}
.upper{
    height:17rem;
    display:flex;
    justify-content: space-between;

}
.bio{
    padding: 10px;
    width:30rem;
    border:1px solid rgb(247, 245, 245);
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    background-color: #efdcbb;
}
.first{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.first i{
    opacity: 0.25;
    margin: 10px;
    font-size: 4rem;
}
.second b{
    font-size:3rem;
}
.second{
    font-size:2.4rem;
}
.captions{
    padding: 10px;
    display:flex;
    flex-direction: column;
}
.captions h1{
    transform: translateX(-8rem);
    font-weight: 800;
}
.face{
    border-radius: 20px;
    
    background-color: #273945;

    width:16rem;
    border:1px solid rgb(247, 245, 245);
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

}
.lower{
    height:10.9rem;
    display:flex;
    justify-content: space-between;
    
}
.captions{
    width:24rem;
    border:1px solid rgb(247, 245, 245);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    background-color: #efdcbb;

}
.bout{
    width:22rem;
    border:1px solid rgb(247, 245, 245);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    background-color: #273945; 

}
.up{
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.up i{
    font-size:2.5rem;
    color:rgba(255, 255, 255, 0.534);
    transform: translateX(1rem);
}
.two a{
    text-decoration: none;
    text-align: left;
    color:rgba(241, 228, 206, 0.636);
    
    
}
.two {
    width:20rem;
    
}
.up p{
    font-size:1.3rem;
    font-weight: 500;
    color:grey;
}
.side{
    width:22.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.top{
    height:23rem;
    border:1px solid rgb(247, 245, 245);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    background-color: #efdcbb;
    padding: 10px;

}
#projects{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-weight: 900;
}
.list{
    transform: translateX(-2rem);
    font-size: x-large;
}
.list ul li{
    list-style-type: disc;
    margin: 5px;
}
.bottom{
    height:4.9rem;
    border:1px solid rgb(247, 245, 245);
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin: 5px;
    background-color: #efdcbb;

}
.bottom i{
    font-size:2.2rem;
}
.face img{
    max-height: 100%;
    max-width:100%;
    border-radius: 20px; 
    object-fit:cover;
    display: block;
    transform: translateX(1.2rem);
}


      
